html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #fafafa;
  overflow-y: overlay;
}

section {
  display: flex;
  justify-content: center;
}
header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

header a {
  text-decoration: none;
  color: rgba(205, 205, 205, 1);
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 30px 40px 0px 40px;
  display: flex;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  display: block;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.logo .title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.logo .subTitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.burgerMenu {
  display: none;
}
nav ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

nav a:hover {
  color: rgba(250, 250, 250, 1);
  transition: 200ms;
}
nav li {
  display: inline-block;
  cursor: pointer;
  color: rgba(205, 205, 205, 1);
  text-decoration: none;
  transition: 300ms;
}

.aboutLI {
  cursor: unset;
}

nav li:hover {
  color: rgba(250, 250, 250, 1);
}

nav a:active,
.aboutLI a {
  color: rgba(250, 250, 250, 1);
  border-bottom: solid 3px #f1cdb3;
  transition: 100ms;
}

.burger {
  display: none;
}
h1 {
  margin: 0;
  max-width: 325px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

#start p {
  padding-top: 26px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}

#start {
  display: flex;
  justify-content: center;
  background: url(./assets/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
  background-repeat: repeat;
  padding-top: 90px;
}

.startButton {
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  border-color: rgba(250, 250, 250, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 22px;
  gap: 10px;
  margin-top: 27px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: all 200ms;
}

.startButton:hover {
  background: rgba(253, 220, 196, 1);
}

#start .wrapper {
  flex-direction: row;
}

.aboutContent {
  max-width: 39%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 19px;
}

.startImage {
  max-width: 698px;
  padding-top: 60px;
}

#about {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
}

#about .wrapper {
  gap: 118px;
  padding-top: 80px;
  padding-bottom: 100px;
  justify-content: center;
  width: 100%;
}

#about h2 {
  margin: 15px 0px;
  width: 80%;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  text-align: start;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

#about p {
  padding-bottom: 17px;
  padding-top: 8px;
  margin: 0;
  color: rgba(76, 76, 76, 1);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.aboutInfo {
  margin: 0 3px;
  max-width: 36%;
  display: flex;
  flex-direction: column;
}

.aboutImg {
  height: 408px;
}

#ourFriends {
  display: flex;
  justify-content: center;
  background: rgba(246, 246, 246, 1);
}

h2 {
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

#ourFriends .wrapper {
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

#ourFriends h2 {
  max-width: 40%;
}

.slider {
  gap: 53px;
  padding-top: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardsWrapper {
  gap: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  cursor: pointer;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
}

.card:hover {
  scale: 1.03;
  transition: 200ms;
  background: #ffffff;
}

.card span {
  padding-top: 30px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.arrowPrevious,
.arrowNext {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
  padding: 0px 0px;
  padding: 16px 17px;
  background: transparent;
}

.arrowNext img {
  transform: scaleX(-1);
}

.learnMore {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 13px 42px;
  margin: 30px 0;
  background-color: transparent;
}

.rest {
  margin-top: 60px;
  margin-bottom: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #f1cdb3;
  border-radius: 100px;
  padding: 13px 42px;
  border: 2px solid #f1cdb300;
}

.button {
  cursor: pointer;
}
.button:hover,
.card:hover button {
  transition: 300ms;
  background: #fddcc4;
  border: solid 2px #fddcc4;
}

.iconCard span {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.iconCard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iconCard img {
  height: 60px;
  padding-bottom: 30px;
}

#help .wrapper {
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.iconsWrapper {
  padding-top: 8px;
  justify-content: center;
  display: flex;
  gap: 56px 120px;
  flex-wrap: wrap;
  flex-direction: row;
}

#help h2 {
  max-width: 30%;
  padding: 50px 0px;
}

#donation {
  background: rgba(246, 246, 246, 1);
}
#donation .wrapper {
  justify-content: center;
  gap: 11px;
  padding-top: 80px;
  padding-bottom: 88px;
}

.donationInfo {
  display: flex;
  max-width: 30%;
  flex-direction: column;
}

.donationInfo p {
  padding-top: 8px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #b2b2b2;
}

.donationInfo h2 {
  text-align: start;
  max-width: 89%;
}

#donation .donationDog {
  height: 261px;
  position: relative;
  top: 11px;
  left: -19px;
}

.donationInfo span {
  padding-top: 20px;
  padding-bottom: 19px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.bankCardNumber {
  background: #f1cdb3;
  border-radius: 9px;
  padding: 10px 15px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  max-width: 89%;
}

.bankCardNumber:hover a {
  color: #9c7c7c;
  transition: 200ms;
}

.bankCardNumber a {
  padding-left: 15px;
  text-decoration: none;
  color: #545454;
}

footer {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  height: 350px;
  background-size: cover;
  background: url(./assets/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

footer .wrapper {
  display: flex;
  flex-direction: row;
}

footer h2 {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 35px;
  max-width: 65%;
  text-align: start;
  color: white;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */

  letter-spacing: 0.06em;
}

footer a {
  gap: 20px;
  display: block;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

footer a:hover {
  color: #a05713;
  transition: all 200ms;
}
.contacts {
  display: flex;
  flex-direction: column;
  max-width: 36.5%;
}

.email {
  padding-bottom: 40px;
}

.footerPuppy {
  position: relative;
  top: 10px;
  height: 310px;
}

.address h2 {
  padding-bottom: 30px;
}

.firstAddress {
  max-width: 64%;
  padding-bottom: 30px;
}

@media (width < 1280px) {
  .wrapper {
    padding: 30px 30px 0px 30px;
  }

  #start .wrapper {
    padding-top: 61px;
    flex-direction: column;
    align-items: center;
  }

  .aboutContent {
    max-width: 65%;
    align-items: center;
  }

  h1 {
    align-self: start;
  }

  .startImage {
    padding-top: 80px;
    height: 593px;
    align-self: end;
  }

  #about .wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 57px;
    gap: 63px;
  }

  .aboutImg {
    height: 408px;
    order: 4;
  }

  .aboutInfo {
    max-width: 61%;
    padding-top: 10px;
  }

  #ourFriends h2 {
    max-width: 60%;
  }

  .card:nth-child(3) {
    display: none;
  }

  .cardsWrapper {
    padding-top: 3px;
    gap: 41px;
  }

  .slider {
    gap: 11px;
  }

  #help h2 {
    max-width: 50%;
  }

  .iconsWrapper {
    max-width: 88%;
    display: flex;
    justify-content: space-between;

    gap: 55px 0px;
  }

  .iconCard {
    width: 26%;
  }

  #donation .wrapper {
    flex-direction: column;
    align-items: center;
  }

  #donation .donationDog {
    position: unset;
    padding-top: 38px;
    padding-bottom: 12px;
    order: 4;
  }
  .donationInfo {
    max-width: 54%;
  }

  .bankCardNumber {
    margin-right: 30px;
  }

  footer .wrapper {
    flex-wrap: wrap;
    height: unset;
    overflow-y: unset;
    justify-content: center;
    padding-left: 36px;
  }

  footer {
    flex-wrap: wrap;
    height: unset;
    overflow-y: unset;
  }

  .contacts {
    max-width: 45%;
    padding-left: 29px;
    padding-bottom: 65px;
  }

  footer h2 {
    padding-top: 0;
    max-width: 90%;
    padding-bottom: 39px;
    margin: 0;
  }

  .address {
    max-width: 48%;
    padding-left: 20px;
    padding-bottom: 65px;
  }

  .firstAddress {
    max-width: 100%;
    padding-bottom: 36px;
  }

  .footerPuppy {
    display: block;
    margin: auto;
    position: unset;
  }
}

@media (width < 768px) {
  nav {
    display: none;
  }

  .burgerModal {
    background-color: #545454;
    position: fixed;
    right: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
  }
  .burgerMenu {
    background: url(./assets/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
  background-repeat: repeat;
    position: absolute;
    display: block;
    left: 100%;
    width: 350px;
    height: 100vh;
    z-index: 5;
    bottom: 30px;
    transition: 200ms;
  }

  .burgerMenu.active {
    right: -100%;
  }

  .burgerMenu nav{
    padding-top: 226px;
    padding-right: 30px;
    display: block;
  }

  .burgerWrapper .active {
    transform: rotate(90deg);
    transition: all 300ms;
  }

  .burgerMenu ul{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    /* or 51px */
    
    
    /* color-light-s */
    
    color: #FAFAFA;
  flex-direction: column;
  align-items: center;
  }

.burgerWrapper {
  cursor: pointer;
  z-index: 10;
  transition: all 300ms;
}
  .burger,
  .burger::before,
  .burger::after {
    background-color: #f1cdb3;
    display: block;
    height: 2px;
    width: 30px;
    z-index: 10;
    cursor: pointer;
  }

  .burger::before {
    position: relative;
    bottom: 10px;
    content: '';
  }

  .burger::after {
    content: '';
    position: relative;
    bottom: -8px;
  }

  .wrapper {
    padding: 30px 10px 0;
  }

  header .wrapper {
    padding: 30px 20px 0;
  }

  .burger {
    margin-top: 29px;
  }

  h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    max-width: 77%;
    align-self: unset;
    letter-spacing: 0.06em;
  }

  .aboutContent {
    max-width: 100%;
    text-align: center;
  }

  .startImage {
    height: 272px;
    padding-top: 85px;
    align-self: unset;
    position: relative;
    right: -21px;
    z-index: 1;
  }

  #about .wrapper {
    padding-top: 20px;
    gap: 0;
    padding-bottom: 43px;
  }
  #about h2,
  #ourFriends h2,
  #help h2,
  #donation h2,
  footer h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    max-width: 100%;
    align-self: unset;
    letter-spacing: 0.06em;
    text-align: center;
  }

  .aboutInfo {
    padding-top: 6px;
    align-items: center;
    max-width: 90%;
  }

  #about p {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .aboutImg {
    padding-top: 29px;
    height: 354px;
  }

  #ourFriends .wrapper {
    padding-top: 40px;
  }

  .card:nth-child(2) {
    display: none;
  }

  .cardsWrapper {
    order: -1;
    justify-content: center;
    width: 100%;
  }

  .slider {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 39px;
    gap: 21px;
  }

  .arrowPrevious {
    margin-right: 29px;
  }

  .arrowNext {
    margin-left: 29px;
  }

  .rest {
    margin-top: 42px;
    margin-bottom: 42px;
  }

  #help h2 {
    padding-top: 12px;
    max-width: 80%;
    padding-bottom: 33px;
  }

  .iconsWrapper {
    max-width: 88%;
    display: flex;
    justify-content: space-between;

    gap: 29px 0px;
  }

  .iconCard {
    width: 45%;
  }

  .iconCard span {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }

  .iconCard img {
    height: 50px;
    padding-bottom: 21px;
  }

  #help .wrapper {
    padding: 30px 0px 42px;
  }

  #donation .donationDog {
    height: 135px;
    padding-top: 19px;
  }

  .donationInfo {
    max-width: 94%;
  }

  #donation .wrapper {
    padding-top: 43px;
    padding-bottom: 30px;
  }

  .donationInfo span {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */
    letter-spacing: 0em;
    display: flex;
    align-items: center;
  }

  .bankCardNumber {
    max-width: 92%;
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
  }

  .donationInfo p {
    text-align: justify;
  }

  .contacts {
    max-width: 92%;
    padding-left: 0;
    padding-bottom: 40px;
    align-items: center;
  }

  footer h2 {
    max-width: 93%;
  }

  .address {
    max-width: 100%;
    padding-left: 0;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 388px;
  }

  .address h2 {
    padding-left: 10px;
    padding-bottom: 39px;
    margin: 0;
  }

  footer .wrapper {
    padding: 30px 10px 0;
  }

  .firstAddress {
    padding-bottom: 40px;
  }

  .footerPuppy {
    height: 269px;
  }
}
