html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #fafafa;
  overflow-y: overlay;
}
section {
  display: flex;
  justify-content: center;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

header a {
  text-decoration: none;
  color: rgba(84, 84, 84, 1);
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 30px 40px 0px 40px;
  display: flex;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  display: block;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.logo .title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: rgba(84, 84, 84, 1);
}

.logo .subTitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: rgba(41, 41, 41, 1);
}
nav ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

nav a:hover {
  color: rgba(41, 41, 41, 1);
  transition: 200ms;
}
nav li {
  display: inline-block;
  cursor: pointer;
  color: rgba(205, 205, 205, 1);
  text-decoration: none;
  transition: 300ms;
}

.aboutLI {
  cursor: default;
}

nav li:hover {
  color: rgba(250, 250, 250, 1);
}

nav a:active,
.aboutLI a {
  color: rgba(41, 41, 41, 1);
  border-bottom: solid 3px #f1cdb3;
  transition: 100ms;
}

h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 40%;
  padding-top: 23px;
}

#ourFriends {
  background: rgba(246, 246, 246, 1);
}
#ourFriends .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardsWrapper {
  gap: 30px 0px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  cursor: pointer;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  background: #ffffff;
  scale: 1.03;
  transition: 200ms;
}

.card span {
  padding-top: 30px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.learnMore {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 13px 42px;
  margin: 30px 0;
  background-color: transparent;
}

.button {
  cursor: pointer;
}
.button:hover,
.card:hover button {
  transition: 300ms;
  background: #fddcc4;
  border: solid 2px #fddcc4;
}

.pagination {
  gap: 20px;
  padding-top: 57px;
  padding-bottom: 100px;
  display: flex;
}

.pagination .unactive {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
}

.active {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}

.pagination .pageNumber {
  border: 2px solid transparent;
  background: #fddcc4;
  border-radius: 100px;
}

.pagination button {
  background: transparent;
  padding: 14px 18px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  /* color-dark-3xl */

  color: #292929;
}

.pagination .double {
  padding: 14px 11px;
}

.arrows {
  display: flex;
  gap: 20px;
}

.pagination .active:hover {
  background: #fddcc4;
  cursor: pointer;
  border: 2px solid transparent;
}

footer {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  height: 350px;
  background-size: cover;
  background-image: url(../assets/footer-gradient-background.png);
}

footer .wrapper {
  display: flex;
  flex-direction: row;
}

footer h2 {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 35px;
  max-width: 65%;
  text-align: start;
  color: white;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */

  letter-spacing: 0.06em;
}

footer a {
  gap: 20px;
  display: block;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

footer a:hover {
  color: #a05713;
  transition: all 200ms;
}
.contacts {
  display: flex;
  flex-direction: column;
  max-width: 36.5%;
}

.email {
  padding-bottom: 40px;
}

.footerPuppy {
  position: relative;
  top: 10px;
  height: 310px;
}

.address h2 {
  padding-bottom: 30px;
}

.firstAddress {
  max-width: 64%;
  padding-bottom: 30px;
}
